body, html {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #000000;

}

/* Default starting canvas */
canvas {
  height: 100vh;
  width: 100vw;
  max-width: 1920px;
  display: block;
}